<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.myspringboot.dao.user.UserDAO">
	<resultMap type="com.sinosoft.myspringboot.pojo.user.User" id="userMap">
		<id column="user_id" jdbcType="BIGINT" property="userId" />
	    <result column="user_name" jdbcType="VARCHAR" property="userName" />
	    <result column="user_age" jdbcType="BIGINT" property="userAge" />
	</resultMap>
	<insert id="saveUser" parameterType="com.sinosoft.myspringboot.pojo.user.User">
		insert into users(user_name,user_age) values(#{userName},#{userAge})
	</insert>
 	<select id="queryAllUser" resultMap="userMap">
		select user_id,user_name,user_age from users 
	</select>
</mapper>